[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "build/vendor/stb"]
	path = build/vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
